.about-section {
  padding: 10px 20px;
}

.about-section h2,
.about-section ol li {
  margin-left: 30px;
}

.about-section p {
  font-size: clamp(1.125rem, 0.4583rem + 3.3333vw, 1.5rem);
  line-height: 130%;
  color: #d6e3ee;
  margin: 18px 0;
}

.about-section a {
  color: #0cc6dc;
}

.link-box {
  display: flex;
  justify-content: center;
  color: black;
}

.about-section .repo-link {
  padding: 12px 18px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: aqua;
  color: black;
  font-size: 20px;
}

.about-section .repo-link svg {
}
