.inner_bevel {
  /* width: 100%; */
  background-color: #222b2e;
}

.stock_ticker {
  background-color: #222b2e;

  padding: 0.2em;
  /* overflow-x: hidden; */
  margin: 0 auto;
  margin-bottom: 6x;
}

.ticker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3em;
  padding: 0.1em;
  background-color: #12181c;
  padding: 12px;
  border-radius: 10px;
  box-shadow: rgb(49, 199, 73) 0px 8px 12px -7px,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.left_side,
.right_side {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.right_side {
  justify-content: center;
}

.ticker_change {
  margin-bottom: 4px;
}

.ticker_change.percent {
  padding-left: 20px;
}

.ticker_name {
  text-align: center;
  font-size: max(2vw, 18px);
  font-weight: 700;
  color: #0cc6dc;
}

.ticker_close {
  color: #eee;
  font-weight: 400;
  font-size: max(4vw, 18px);
  margin-top: 4px;
  margin-left: 6px;
}

.ticker .icon {
  font-size: 0.8rem;
  margin-right: 0.5em;
}

.red {
  color: red;
}

.green {
  color: #00ff66;
}

@media only screen and (min-width: 456px) {
  .ticker {
  }

  .ticker_name {
    font-size: max(2vw, 18px);
  }

  .ticker_close {
    font-size: max(1.8vw, 20px);
  }
}
@media only screen and (min-width: 700px) {
  .ticker {
  }

  .ticker_name {
    font-size: max(2vw, 20px);
  }

  .ticker_close {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .ticker {
  }
  .ticker_name {
    font-size: 20px;
  }

  .ticker_close {
    font-size: 18px;
  }
}
