nav {
  /* background-color: #0e4421; */
  /* transition: all 2s ease; */
}

.app_menu_dropdown {
  background-color: #020202;
  width: 50%;
  padding: 7px 0;
  margin: 0 auto;
  border-radius: 10px;
  color: #11a5da;
  font-size: 12px;
}

.app_menu_dropdown button {
  background-color: inherit;
  font-weight: 800;
}

.app_menu_dropdown button svg {
  margin: 0 6px;
}

.menu_container {
  background-color: black;
  position: absolute;
  top: -110vh;
  width: 100%;
  height: 100vh;
  transition: all 0.7s ease;
  z-index: 10;
}

.menu_container.active {
  /* background-color: ivory; */
  top: 0;
}

.nav_menu {
  background-color: black;
  margin-top: 100px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  grid-template-areas:
    '. .'
    '. .';
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  /* opacity: 0; */
}

nav ul li {
  /* margin: 0.5rem; */

  margin-top: 12vh;
  height: 100%;
  width: 100%;
  border: 1px solid #1b8f1a;
  display: flex;
  align-content: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, 5vw, 24px);
  font-family: 'Audiowide', cursive;
  /* font-size: 0.8rem; */
  color: #11a5da;
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

nav ul li a:active {
  color: #11a5da;
}

nav ul li a.active {
  background: rgb(63, 251, 115);
  background: radial-gradient(
    circle,
    rgba(63, 251, 115, 1) 0%,
    rgba(74, 96, 80, 1) 100%
  );
  border-radius: 10px;
  color: #000;
  transition: all 0.5s ease-in-out;
  /* padding: 0.2em; */
}

.pulse {
  font-size: 0.8rem;
  animation-name: pulse_animation;
  animation-duration: 1500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.6);
  }
  60% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
