nav {
  background-color: black;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 1em; */
}

nav ul li {
  margin: 0.5rem;

  /* padding: 0 0.4em; */
}

nav ul li a {
  font-family: 'Audiowide', cursive;
  font-size: 0.8rem;
  color: #11a5da;
}
