@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.homescreen {
  /* border: 1px solid yellow; */
}

.intro {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.intro .row {
  display: flex;
  flex-direction: column;
}

.column1 {
  position: relative;
  z-index: 1;
}

.homescreen h2 {
  font-family: 'Fahkwang', sans-serif;
  color: aliceblue;
  font-size: min(10vw, 38px);
  margin-top: 10px;
  margin-bottom: 38px;
}

.homescreen h3 {
  font-family: 'Fahkwang', sans-serif;
  font-size: min(8vw, 30px);
}

.paragraph_a {
  font-family: 'Dosis', sans-serif;
  font-size: clamp(1.5rem, 1.3182rem + 0.9091vw, 2rem);
  line-height: 28px;
  letter-spacing: -0.2px;
}

.img_frame {
  margin-top: 40px;
  text-align: center;
}

.img_frame img {
  max-width: 452px;
}
.img_frame img {
  width: 100%;
  /* display: none; */
}

.call_to_action {
  font-size: 1.2rem;
  margin-top: 3em;
  padding: 10px;
}

@media only screen and (min-width: 824px) {
  .intro .row {
    flex-direction: row;
  }

  .column1 {
    width: 50%;
  }
}
