h1 {
  font-family: 'Odibee Sans', cursive;
  margin: 0.5em;
  font-size: 4rem;
}

.equals_sign {
  padding: 0.2em 0;
  font-size: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
