.local_storage_app {
  position: fixed;
  top: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: rgb(239, 0, 252);
  background: linear-gradient(
    234deg,
    rgba(239, 0, 252, 1) 0%,
    rgba(224, 225, 229, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );

  width: 80%;
  max-width: 700px;
  min-height: 400px;
  /* align-items: center;
  justify-content: center; */
  border: 8px solid purple;
  overflow-y: scroll;
  box-shadow: rgb(38, 57, 77, 0.7) 30px 80px 10px,
    rgb(16, 139, 63, 0.4) 100px 150px 10px;
}

.local_storage_title {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  text-align: center;
  font-size: calc((60vw - 4.5rem) / 12);
}

.local_storage_app input {
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  padding: 10px;
  font-family: 'Permanent Marker', cursive;
  background-color: black;
  border: none;
  box-shadow: 3vw 20px 0.3em greenyellow, -1em 0 0.4em #ed68f5;
  color: rgba(239, 0, 252, 1);
  font-size: calc((40vw - 3.2rem) / 12);
}

.local_storage_display {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  font-size: calc((69vw - 4.5rem) / 7);
  font-family: 'Berkshire Swash', cursive;
  background: radial-gradient(
    circle,
    rgba(239, 0, 252, 1) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(13, 7, 117, 1) 60%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .local_storage_app {
    min-height: 60vh;
  }

  .local_storage_title {
    font-size: calc((60vw - 2rem) / 5);
  }

  .local_storage_app input {
    font-size: calc((45vw - 4.5rem) / 7);
  }

  .local_storage_display {
    margin-top: 50px;
  }
}
